/* Primary Colors */
$green-500: hsl(158, 36%, 37%);
$green-700: hsl(158, 42%, 18%);

/* Neutral Colors */
$grey: hsl(228, 12%, 48%);
$black: hsl(212, 21%, 14%);
$cream: hsl(30, 38%, 92%);
$white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: "Montserrat";
    background-color: hsl(30, 38%, 92%);
    font-size: 1em;
}

p {
    font-size: 14px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 20px;
    font-family: Fraunces;
}

.card-description {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        font-family: montserrat;
        line-height: 20px;
        color: hsl(228, 12%, 48%);
    }
}

.prices {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

#perfume_image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#discount-price {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    font-weight: 700;
}

#og-price {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

#perfume {
    font-family: montserrat;
}

.cart {
    display: block;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    margin: auto;
    color: hsl(0, 0%, 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    
}

/* Larger Screen Styles (600px) */
@media (min-width: 600px) {
    .card {
        flex-direction: row;
        width: max-content;
        
    }
}