

* {
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: "Montserrat";
    background-color: hsl(30, 38%, 92%);
}

p {
    font-size: 14px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 20px;
}

.card-description {
    margin: 10px;
    padding: 10px;
}

#perfume_image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#discount-price {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    font-weight: 700;
}

#og-price {

}

.cart {
    display: block;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    margin: auto;
    color: hsl(0, 0%, 100%);
    
}